<main>

  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <br />
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="~/css/407be557-599d-453d-acac-376b9895b46a.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
                <h2 class="fw-normal">Bahar Moda</h2>
                <p>Bahar modasında yepyeni trendeler ve detaylar.</p>
                <p><a asp-controller="Trend" asp-action="Index" class="btn btn-secondary">Detaylar »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="~/css/50c37944-022c-4a25-9993-b7ae06bb6cb7.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" />

                <h2 class="fw-normal">Kış Moda</h2>
                <p>Kış modasında yepyeni trendeler ve detaylar.</p>
                <p><a asp-controller="Trend" asp-action="Index" class="btn btn-secondary">Detaylar »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="~/css/Zayıf erkek giyim tarzı - Tarz Kadın.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" />

                <h2 class="fw-normal">Yaz Moda</h2>
                <p> Yaz modasında yepyeni trendeler ve detaylar</p>
                <p><a asp-controller="Trend" asp-action="Index" class="btn btn-secondary">Detaylar»</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Sokak Stili: 2024-25 Sonbahar/Kış Pitti Uomo <span class="text-body-secondary">It’ll blow your mind.</span></h2>
                <p class="lead">Floransa'da kış güneşinin altında moda dünyasının önde gelen erkek giyim markaları podyumlarda en yeni koleksiyonlarını tanıtırken şehir sokaklarında ise dikkat çekici görünümler öne çıkıyor.</p>
            </div>
            <div class="col-md-5">
                <img src="~/css/Accesorios y moda masculina_ 5 claves para saber elegir.jpg" style="width:380px;height:380px" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Moda da yeni adımlar <span class="text-body-secondary">See for yourself.</span></h2>
                <p class="lead">“Modanın tüm amacı, modaya uygun kıyafetleri herkesin kullanımına sunmaktır.” cümlesi ile Mary Quant, Londra’daki Victoria & Albert Müzesi’ndeki sergide kendine yer buldu. Şubat 2020’ye kadar ziyaret edilebilecek olan sergide, Quant’ın kişisel arşivindeki parçalar ile birlikte 200’den fazla giysi ve aksesuarı da görebilmeniz mümkün. Biz de bu sergiden aldığımız ilhamla, Mary Quant’a ve onun tasarımcı kişiliğine kısaca değinmek istedik.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/css/OUTFITS OF THE WEEK.jpg" style="width:380px;height:380px" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Fashion Week: Londra, Paris, New York, Milano <span class="text-body-secondary">Checkmate.</span></h2>
                <p class="lead">
                    2020 yılında yaşanan pandemi sebebi ile düzenli podyum gösterileri gerçekleşemese de tasarımcılar en son koleksiyonlarını sunmanın yeni ve yenilikçi yollarını aradılar.

                    Tasarımcılardan çoğu özel podyum gösterilerini ve seyircisiz düzenlemeleri tercih ederken, bir kısmı da dijital platform yayınları ya da fotoğraf çekimleri ile koleksiyonlarını sergilediler.
                </p>
            </div>
            <div class="col-md-5">
                <img src="~/css/SİYAH ELBİSE3.jpg" style="width:380px;height:380px" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <!-- FOOTER -->
 <br />
    <div class="alert alert-primary text-center" role="alert">
        En güncel moda haberleri !!!!
    </div>

</main>
<div class="px-4 py-2 my-2 text-center">
    <img src="~/css/12月♡ 毎日モテ続けちゃう！ 30日分のモテ格言付きベストコーデ - with online - 講談社公式 - _ 自分らしく、楽しく.jpg" class=" text-center" alt=".." style="width:472px; height:557px ">



<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Bu kış da stilini konuşturmaya hazır mısın?</h5>
        <p class="card-text">
            Moda ve stil dolu yepyeni bir yıl kapıdayken 2024 kış modasını ve hayatımıza girecek taptaze trendleri merak etmemek elde değil. 
        </p>
            <p>Kimisi ilk defa göreceğimiz, kimisi ise bizi 2000'li yılların başına götürecek cinsten olsa da, trendlerinin mağaza raflarını, gardıropları ve sokakları domine edeceği kesin. İddialı hayvan desenli baskılar, over-size kalıplar ve kontrast dolu dokunuşlar, bu trendler arasında öne çıkanlardan sadece birkaç tanesi. </p>
        
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Postallara ve Mini Eteklere Merhaba De</h5>
        <p class="card-text"> Postal ve mini etek ikilisi. Aynı anda hem asi hem feminen bir duruş sergilemene imkan sunacak bu 2024 kış modası bayanların gardırobunda kendine has bir köşe talep edecek gibi duruyor. .</p>
            <p>Asker tarzı postal botlarla kombinleyebileceğin favori mini eteğini Ugg'lar ya da platform topuklu çizmelerle de deneyebilir ve modaya tabiri caizse ayak uydurabilirsin. Söz konusu mini etek seçimi olduğu zaman ise özellikle kazayağı, pötikare ve ekose desenlerinin ön plana çıktığını vurgulamakta fayda var.</p>
    </div>
</div>
    <img src="~/css/blogmas 9 – natal para usar xadrez tartan.jpg" class="text-center" alt="..." style="width:472px; height:557px">

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Bereler Geri Döndü...</h5>
        <p class="card-text">
            Elbette bere modasının hiçbir zaman tam olarak geçmediğini hepimiz biliyoruz; ancak 2024 sokak modasında bu yıl en sık göreceğimiz aksesuarlardan biri olacağı kesin. Özellikle ağırlıklı olarak sarı renk berelerin tercih edildiği podyumlarda bu iddialı rengin toprak tonları ile dengelendiğine şahit olmak mümkün. .
        </p>
            <p>Bu kış gardırobuna ekleyeceğin şık bir bere ile sen de 2024 trendlerini yakından takip ettiğini vurgulayabilir ve hiçbir şey olmasa bile kötü saç günlerinde seni kurtaracak bir parça edinebilirsin</p>
    </div>
</div>
    <img src="~/css/13187746-9c83-41a6-8319-70672798540f.jpg" class="text-center" alt="..." style="width:472px; height:457px">

</div>
<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">Başa Dön</a>
</nav>