
<div class="card-body text-center">
    <h3 class="card-title">Klasikten Yeni Nesil Şıklığa Erkek Kombinleri</h3>
    <p class="card-text">Erkek kombinlerinde öne çıkan parçalar kadın giyimine kıyasla her ne kadar sınırlı olsa da, zamana ve mekâna uygun seçimler yapmak beyefendiler için de bazen son derece zor olabiliyor. .</p>
    <p>Yani anlayacağınız, “Alt tarafı bir gömlek, bir pantolon; işte bu kadar!” demekle olmuyor!</p>
    <p>Peki, özel etkinlik zamanları başta olmak üzere, siz de her gün uzun uzadıya ne giyeceğinizi düşünenlerden misiniz? O halde erkek kombin önerilerimize mutlaka göz atınız.</p>
</div>

<div class="card-group">
    <div class="card">
        <img src="~/css/ERKEK KOMBİN-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Modern Erkek Kombin</h5>
            <p class="card-text">Üzerinizdeki kombinle nereye gideceksiniz? Pek çok yeni bağlantı edineceğiniz büyük bir iş organizasyonuna mı? Yoksa anlaşmak üzere olduğunuz bir firmanın ofisinde toplantıya mı? Ya da bunlardan hiçbiri olmayabilir.</p>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <div class="card">
        <img src="~/css/e2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tarz Erkek Kombin</h5>
            <p class="card-text">Belki de sadece, aileniz veya arkadaşlarınızla bir hafta sonu etkinliğine katılacaksınızdır. Peki, erkek giyim modasında tüm ortamlar için hayatınızı kolaylaştıracak belli başlı stiller olduğunu biliyor muydunuz.</p>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <div class="card">
        <img src="~/css/Genc erkek kombin - Tarz Kadın.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Şık Erkek Kombin</h5>
            <p class="card-text">Özel yaşamında herkesin elbette belli bir tarzı var. Örneğin; kimisi deli dolu ve enerjik bir stile sahipken, kimisi daha ağırbaşlı bir görünüm sergilemeyi tercih edebilir. .</p>
            <p>
                Ama önemli olan da benimsediğiniz tarzı bulunduğunuz yere göre uyarlayabilmektir. Bu, özellikle de profesyonel yaşamda güçlü ve doğru bir izlenim bırakabilmek adına oldukça önemli. Giyim tarzınızın özel hayatınızda ne gibi bir rolü olduğu ise zaten malum!

            </p>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
<a asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
