

<div class="card-body text-center">
    <h3 class="card-title">Güzellik İpuçları ve Sırları</h3>
    <p class="card-text">Hepimizin daima bakım rutinimizden en iyi şekilde faydalanmak ve daha da güzel hissetmek için yardımcı olacak yeni güzellik sırlarının peşinde olduğunu söylememize bile gerek yok..</p>
    <p>Söz konusu güzellik olduğunda hepimizin mutlaka denediği ve test ettiği bir rutin olmuştur..</p>
    <p>Peki,İşte bizim favorimiz, en pratik (ve faydalı) ipucu; bakalım repertuarınıza kaç tanesini ekleyeceksiniz?!</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/css/Radiofrequência facial para remodelar o rosto.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/css/Beauty - Olga Blik.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/css/Natural Bridal Make Up (Shade 21 Pink Beige).jpg" class="card-img-top" alt="...">
            <div class="card-body">
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Vücut yağını deneyin.</h5>
            <p class="card-text">
                Yumuşacık bir cilt için en iyi güzellik sırlarından birisi vücut yağıdır:.
            </p>
            <p>En iyi cilt bakımı ve yumuşacık, ışıltılı mükemmel bir cilt için tüm zamanların en favori güzellik ipuçlarından birisi olmuştur. </p>
        </div>
    </div>
     
    <div class="px-4 py-5 my-5 text-center">
        <img src="~/css/VICHY AQUALIA THERMAL LIGHT.jpg" class=" text-center" alt=".." style="width:472px; height:557px ">

        <div class="card mb-3">
            <div class="card-body">
            <h5 class="card-title">Temel ürünleri el altında tutun..</h5>
                <p class="card-text">
                Son derece basit. Temel cilt bakım ürünlerini yatağınızın yakınında tutun, böylece yatmadan önce kullanmayı daima hatırlayacak ve etkili olmaları için ürünlere bolca zaman vermiş olacaksınız.
                </p>
                <p>En iyi cilt bakımı ve yumuşacık, ışıltılı mükemmel bir cilt için tüm zamanların en favori güzellik ipuçlarından birisi olmuştur. </p>
            </div>
        </div>
    </div>
        <div class="px-4 py-5 my-5 text-center">
            <img src="~/css/The Truth About Cleansing Oils.jpg" class=" text-center" alt=".." style="width:472px; height:557px ">

            <div class="card mb-3">
                <div class="card-body">
            <h5 class="card-title">Şişmiş göz kapaklarına buz uygulayın..</h5>
                    <p class="card-text">
                Sabahları uyandığınızda göz kapaklarınız şişmiş mi oluyor? Gazlı beze sarılı buz küpünü gözlerinizin çevresine hafif hafif vurun ve şişliklerin kısa sürede inmesine şahit olun.
                    </p>
            <p>Böylece evden iyice dinlenmiş bir görünümle çıkabilirsiniz. </p>
                </div>
            </div>
        </div>
            <div class="px-4 py-5 my-5 text-center">
                <img src="~/css/Anti-Aging Tips And Tricks _ StyleCraze.jpg" class=" text-center" alt=".." style="width:472px; height:557px ">

                <div class="card mb-3">
                    <div class="card-body">
            <h5 class="card-title">Özelliklerinizi ön plana çıkarın..</h5>
                        <p class="card-text">
                Mavi gözler için kahverengi, kahverengi gözler için mor vb. gibi gözlerinizin rengini ön plana çıkaracak tonlar seçin.
                        </p>
            <p>Tonların kontrast olması gözlerinizin güzelliğini ortaya çıkaracaktır. Zarifçe kullanın ve işte!: güzelliğiniz için (neredeyse) görünmez öz güveni kazanın! </p>
                    </div>
                </div>
            </div>
<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">Başa Dön</a>
</nav>