
<div class="card text-center">
    <div class="card-header">
        2024’TE YÜKSELİŞE GEÇECEK 3 OJE RENGİ
    </div>
    <div class="card-body">
        <h5 class="card-title"> Elektrik Mavisi</h5>
        <p class="card-text">
            Mavinin en dikkat çekici tonlarından biri olan elektrik mavisi, canlı renkleri sevenler için birebir. Yaz ya da kış fark etmeden 2024 yılında tırnaklarınıza hem zarif hem de iddialı bir görünüm kazandırmanızı mümkün kılarken, uzun ve kısa tırnakta da ayrı bir etkileyiciliğe sahip.
        </p>
        <h5 class="card-title"> Şeftali Tonlar</h5>
        <p class="card-text">
            Pantone 2024’ün rengini Peach Fuzz yani Şeftali Tüyü olarak duyurduğundan beri bu tatlı renge duyulan ilgi de artmış durumda. Haliyle tırnakları da süslemesi kaçınılmaz. Şeftali renginin bu sıcak ve sakin tonu, sade ve şık bir manikür için ilkbahar ve yaz ayları için ideal.

        </p>
        <h5 class="card-title"> Metalik Tonlar</h5>
        <p class="card-text">
            Mavinin en dikkat çekici tonlarından biri olan elektrik mavisi, canlı renkleri sevenler için birebir. Yaz ya da kış fark etmeden 2024 yılında tırnaklarınıza hem zarif hem de iddialı bir görünüm kazandırmanızı mümkün kılarken, uzun ve kısa tırnakta da ayrı bir etkileyiciliğe sahip.
        </p>
        
    </div>
 
</div>

<a asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
