
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Son Zamanların Ençok Konuşulan Stilleri!!!</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Şampanya Rengi Detaylarıyla Sokak Modasında Altın Etkisi</h2>
            <p class="text-body-secondary">Kombininize biraz canlılık katmak istiyorsanız, şampanyanın parıltısından faydalanmayı deneyin. Metalik altın rengi, eğlenceli bir ruh İLE birleşince sokak stili fotoğrafçısı Phil Oh’un kadrajına  stili görünümleri dikkat çekiyor. Dökümlü mini elbiselerden ışıltılı parti pantolonlarına ve şampanya rengi aksesuarlara altın etkisi için sokak stiline ilham veren görünümleri inceliyoruz.</p>
            
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Les Benjamins Türk Punk'ının Köklerine İniyor</h4>
                    <p class="text-body-secondary">Les Benjamins, Sonbahar 2024 koleksiyonu için direktör Bünyamin Aydın'ın rehberliği altında, Türk punk sahnesine saygı duruşunda ..</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#gear-fill"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Kaşmir Rehberi</h4>
                    <p class="text-body-secondary">Soğuk günlerin sıcacık dokusu kaşmir, modayla bir araya geldiğinde bir gardırobun demirbaşı olmaya aday tasarımlar ortaya çıkıyor..</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#speedometer"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Yeni Bir Hayat: İkinci El Kıyafetler</h4>
                    <p class="text-body-secondary">Hızlı tüketilen moda ve enflasyonla beraber gündeme gelen ikinci el kıyafet alışverişi  yeni kuşaklara geçmişten romantik hikayeler de aktarıyor.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#table"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Modaya Saygı Duruşu</h4>
                    <p class="text-body-secondary">İtalyan modaevi Gucci, bireyselliği ve kişisel ifadeyi, güzelliği, zamansız cazibeyi kutlayan bir anlatı ile modanın sınırlarını aşan Gucci “Ancora” kampanyasını tanıtıyor..</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body text-center">
    <h3 class="card-title">Siyah Elbise Kombin Rehberi</h3>
    <p class="card-text">Çabasız şıklığın en güvenli limanlarından biri olan siyah elbise kombinleri, yanlış seçimlerle bunun tam aksine sonuçlar doğurabiliyor..</p>
    <p>Neyse ki siyah elbise kombini yapmak için gardırobunuzun önünde artık çok vakit harcamanıza gerek yok!</p>
    <p>Bu dosyamızda sizlerle, farklı siyah elbise modelleri için en uygun kombin önerilerimizi paylaşıyor olacağız.</p>
</div>

<div class="card-group">
    <div class="card">
        <img src="~/css/s1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Siyah Uzun Elbise</h5>
            <p class="card-text">Uzun siyah elbise kombinleri yaparken ayakkabı seçiminizi elbisenin stiline uygun şekilde dilediğiniz spor veya klasik modellerden yana yapabilirsiniz..</p>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <div class="card">
        <img src="~/css/s4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Derin Yırtmaçlı Elbise</h5>
            <p class="card-text">Modeline göre vamp veya gotik gibi radikal stillerin yanı sıra feminen giyim tarzında da sıkça tercih ediliyor.</p>
        </div>
        <div class="card-footer">
        </div>
    </div>
    <div class="card">
        <img src="~/css/s3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Siyah Desenli Elbise</h5>
            <p class="card-text">Siyah kalem elbiseler, dokusu nasıl olursa olsun kokteyl elbisesi modellerinin içerisine dahil edilebilir.</p>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">Başa Dön</a>
</nav>