<html>

    <head>
   

    </head>
    
    <body>
        <div class="text-center container">
    <img style="height:250px;width:700px" src="~/css/20240114_233535_0000.png" class="img-fluid" alt="...">
    </div>
    <main>
        <section class="py-1 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    
                    <p class="lead text-body-secondary">Son dönemlerin en trend güzellik ve bakım ipuçlarını blog sayfamızda bulabilirsiniz .Şimdiden iyi okumalar!!!.</p>
                    <p>
                        <a asp-controller="Beauty" asp-action="Index" class="btn btn-primary my-2">Güzellik</a>
                        <a asp-controller="Trend" asp-action="Index" class="btn btn-secondary my-2">Trend</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-1 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/Desenli Oje Modelleri 11 - Mimuu_com.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                            <div class="card-body">
                                <p class="card-text">Makyaj ve saçın ardından 2024 yılında yükselişe geçecek oje trendlerini de yakından keşfetmeye davetlisiniz..</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Nail" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">13 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/resim4.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">
                                    Söz konusu güzellik olduğunda hepimizin mutlaka denediği ve test ettiği bir rutin olmuştur..
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Beauty2" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">12 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/407be557-599d-453d-acac-376b9895b46a.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Moda ve güzellik birbirinden ayrı tutulamaz.Hadi bu seneye uygun hangi ürünlerle kombin  yapabileceğiniz keşfedin..</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Fashion" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">1 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/d8dfe5ac-6d85-45b8-9bc8-949addf92485.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Zamansızlığıyla ön plana çıkan ve kahve tonlarının ağırlıkta olduğu  “espresso makeup” detaylarını keşfetmeye ne dersiniz.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Beauty" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">11 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/50c37944-022c-4a25-9993-b7ae06bb6cb7.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Moda ve stil dolu yepyeni bir yıl kapıdayken 2024 kış modasını ve hayatımıza girecek taptaze trendleri merak etmemek elde değil..</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Fashion" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">7 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/430170b3-434a-42f2-8240-8e88e7d94ed3.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text"> Rüya gibi bir dekorasyon yapmaya ne dersiniz? Çocuk odası için dekorasyon fikirlerimize göz atın!.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Life" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">3 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/Bu Senenin Siyah Elbise Kombinleri - Tarz Kadın.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Çabasız şıklığın en güvenli limanlarından biri olan siyah elbise kombinleri.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Trend" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">1 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/Pinterest {fσℓℓσω тσ єее мσя} Pinterest ↠tabassum varachia.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Saç hasarını önleyen saç bakım ürünlerinin 2023’teki yükselişi  devam edecek..</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Hair" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">1 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/css/34efd356-c30e-4e58-9a43-67212acca410.jpg" class="bd-placeholder-img card-img-top" width="95%" height="285"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                            <div class="card-body">
                                <p class="card-text">Retinol son moda trend bir uygulama  nedir ne işe yarar hepsini öğrenmek için tıklayın.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class=" btn btn-sm btn-outline-secondary" asp-controller="Retinol" asp-action="Index">Devamını Oku</a>

                                    </div>
                                    <small class="text-body-secondary">9 Ocak 2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
       
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">MODA DA KIŞ ALARMI</h1>
        <p class="card-text"> Kış aylarında korktuğumuz desenlerden kaçmamanız gerektiğini veya şık olmak için acı çekmek zorunda olmadığınızı anlayacağınız bu sezon rahat bir şıklık ile ön plana çıkıyor.  </p>
        <p class="card-text">Çünkü bu sezon siz ne olmak isterseniz o var! modada kış alarmı çoktan verildi bile!</p>
        <button class="btn btn-info " type="button"><a asp-controller="Fashion" asp-action="Index">DEVAMINI OKU</a></button>
</div>



        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <img src="~/css/SİYAH ELBİSE 1.jpg" class="card-img-top"/>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SİYAH ELBİSE KOMBİN REHBERİ</h5>
                        <p class="card-text">Çabasız şıklığın en güvenli limanlarından biri olan siyah elbise kombinleri, yanlış seçimlerle bunun tam aksine sonuçlar doğurabiliyor. Neyse ki siyah elbise kombini yapmak için gardırobunuzun önünde artık çok vakit harcamanıza….</p>
                    <button class="btn btn-info " type="button"><a asp-controller="Trend" asp-action="Index">DEVAMINI OKU</a></button>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <img src="~/css/ERKEK KOMBİN 2.jpg" class="card-img-top" />
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ERKEK KOMBİNİ KILAVUZU</h5>
                        <p class="card-text">Pantolon gömlek kombinleri yapmak gözünüze her daim basit ve çabasız görünmüş olabilir. Peki, bugüne dek hep şıklıktan uzak seçimler yapmış olabileceğinizi düşünmüş müydünüz? Neyse ki işin inceliklerini öğrenerek, bundan böyle….</p>
                    <button class="btn btn-info " type="button"><a asp-controller="Trend2" asp-action="Index">DEVAMINI OKU</a></button>
                </div>
                </div>
        </div>
    </div>
       
        

    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Tüm Evinize Neşe Katacak Çocuk Odası Dekorasyonu Fikirleri</h1>
        <p class="card-text">Şimdi gözlerinizi kapatın ve çocukluğunuza doğru ufak bir yolculuğa çıkın. O yıllarda hayalinizdeki çocuk odasına sahip olabilmiş miydiniz? Bu soruya birçok kişinin yanıtını ne yazık ki hayır. Peki, şimdi hem….</p>
        <button class="btn btn-info" type="button"><a asp-controller="Life" asp-action="Index">DEVAMINI OKU</a></button>
    </div>
    <div class="px-4 py-1 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/css/34efd356-c30e-4e58-9a43-67212acca410.jpg" alt="" width="372" height="357">
        <h1 class="display-5 fw-bold text-body-emphasis">YENİ GÜZELLİK SIRLARI</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-center">
                GÜZELLİK
                Cilt tipinize uygun bakım rutinini nasıl oluşturabilirsiniz?
                Hangi cilt tipine sahip olduğunuzu anlamanın ve buna uygun bir cilt bakım rutini oluşturmanın yollarını konuşuyoruz..
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button class="btn btn-info" type="button"><a asp-controller="Beauty" asp-action="Index">GÜZELLİK</a></button>
                <button class="btn btn-info" type="button"><a asp-controller="Beauty" asp-action="Index">CİLT BAKIMI</a></button>

            </div>
        </div>
    </div>

    </body>

</html>

