<div class="px-4 py-5 my- text-center">
    <img class="d-block mx-auto mb-4" src="~/css/From argan oil to tea tree oil, facial oils explained_ their benefits, and how to incorporate them in your skincare routine — South China Morning Post.jpg" alt="" width="372" height="357">
    <h6 class="display-5 text-body-emphasis">RETİNOL NE İŞE YARAR?</h6>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-10 text-center">
        </p>
        <p>
            RETİNOL NE İŞE YARAR?
            -Ciltte oluşan birçok hasarı önlemeye yardımcı olur.
            -Hücre yenilenmesini sağlar. Oluşan yara ve leke gibi durumlarda iyileşme sürecinin hızlanmasını sağlar.
            -Çevresel faktörlerin ve serbest radikallerin cildi yormasına engel olur.
            -Cildi yağdan arındırarak daha sağlıklı ve mat gösterir.
            -Elastin ve kolajen üretimine destek olarak cilde dolgunlaştırıcı bir etki oluşturur.
            -Genişleyen gözenekler, kırışıklıklar ve ince çizgilerde etki ederek görünümün azalmasını sağlar.
            -Cilde uygulanan ürünler içerisinde retinol, ölü hücrelerin ortadan kaldırılması için çalışmaz. Cildin en dış tabakasını (epidermis) geçerek, dermis tabakasında etki eder.
        </p>
        <p>
            RETİNOLÜN CİLDE FAYDALARI NELERDİR?
            -Cilde ışıltı kazandırır. Bu sayede renk eşitlenmesi yaşanır.
            -Siyah noktaları önler ve sivilcelerin iyileşmesine yardımcı olur.
            -Yüz, göz ve dudak çevresinde ince çizgi oluşumunu önler ve bakımını yapar.
            -Cildin çeşitli nedenlerden dolayı yıpranmasını engellemeye yardımcı olur.
        </p>
        <p>
            RETİNOL KULLLANMANIN PÜF NOKTALARI NELERDİR?

            -Öncelikle retinol içeren ürünleri uzman tavsiyesi ile kullanmak gerekir. Herhangi bir problem yoksa cildi yormadan bakım yapılabilir.
            -Retinolün dozu ve sıklığı cildinizi analiz yapan uzmanlar tarafından belirlenir.
            -Retinol kullanacak kişilerin, cildin daha sağlıklı kalması adın gündüz güneş kremini ihmal etmemesi gerekmektedir.
            -Retinol kullanımına haftada 1-2 gece kullanarak başlanmalıdır. Daha sonra günlerin sıklığı arttırılarak her gece kullanılır.
            -Retinolün kurutucu etkisi olacağından cilt bariyerinin bozulmaması için üzerine nemlendirici düzenli olarak kullanılmalıdır.

        </p>
        <div class="d-grid  d-sm-flex justify-content-sm-center">
        </div>
    </div>
</div>
<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">Başa Dön</a>
</nav>