<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-8 px-0">
            <h1 class="display-4 fst-italic">Yeni güzellik ipuçları ve sırları</h1>
            <p class="lead my-3">Söz konusu güzellik olduğunda hepimizin mutlaka denediği ve test ettiği bir rutin olmuştur. Hepimizin daima bakım rutinimizden en iyi şekilde faydalanmak ve daha da güzel hissetmek için yardımcı olacak yeni güzellik sırlarının peşinde olduğunu söylememize bile gerek yok. İşte bizim favorimiz.</p>
            <p class="lead mb-0"><a asp-controller="Beauty2"asp-action="Index" class="text-body-emphasis fw-bold">Devamını oku...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Cilt Lekeleri</strong>
                    <h3 class="mb-0">İzleri sildirmenin tam zamanı</h3>
                    <div class="mb-1 text-body-secondary"></div>
                    <p class="card-text mb-auto">Yaz mevsiminde güneş ışınlarının daha dik açı ile daha uzun süre yeryüzüne ulaşması nedeniyle vücudumuz yoğun şekilde ultraviyole ışınlara maruz kalıyor..</p>
                    <a asp-controller="Stain" asp-action="Index" class="icon-link gap-1 icon-link-hover stretched-link">
                        Devamını okumak için tıkla
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="d-block mx-auto mb-3" src="~/css/cilt3.jpg" alt="" width="209" height="299">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">RETİNOL</strong>
                    <h3 class="mb-0">RETİNOL NEDİR</h3>
                    <div class="mb-1 text-body-secondary"></div>
                    <p class="card-text mb-auto">Retinol bir A vitamini türevidir. Ciltteki kolajen üretimini arttırarak ince çizgi ve kırışıklıkları azaltmada rol oynar.</p>
                    <a asp-controller="Retinol" asp-action="Index" class="icon-link gap-1 icon-link-hover stretched-link">
                       Devamını okumak için tıkla
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="d-block mx-auto mb-3" src="~/css/cilt2 (1).jpg" alt="" width="209" height="299">

                </div>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
          

            <article class="blog-post">
                <h5 class="display-5 link-body-emphasis mb-1">
                  
                    Dermatologların Tavsiye Ettiği 5 Cilt Bakım Rutini
                </h5>

                <p>İşte danışman dermatolog Dr. Thivi Maruthappu'nun paylaştığı, muhtemelen şimdiden uygulamayı düşünmeniz gereken beş yeni yıl cilt kararı..</p>
                <hr>
                <h3>Cilt bakım rutininizi basitleştirin</h3>
                <p>Rutininizdeki farklı adımlarda hidroksi asitler ve retinol gibi fazla sayıda aktif içerik, cilt bariyerini bozabilir, kızarıklığı kötüleştirebilir ve hassasiyetleri artırabilir."</p>
               
                <h3>Cildiniz için 3 temel başlık</h3>
                <p>Çoğumuz yeni bir yıl başlarken önümüzdeki upuzun yıl için aldığımız kararların listesini yapma eğilimindeyizdir. Her gün meditasyon yapmak, farkındalık yaratmak ya da yeni bir beceri geliştirmek olsun amaç, yaşam kalitemizi arttırmaktır. Peki cildinizi nasıl daha iyi hale getirebilirsiniz? İşte danışman dermatolog Dr. Thivi Maruthappu'nun paylaştığı, muhtemelen şimdiden uygulamayı düşünmeniz gereken beş yeni yıl cilt kararı. 2024 yılı düzenlenmiş bir cilt vadediyor.</p>
                <ul>
                    <li>Cilt bakım rutininize yüksek kaliteli bir C vitamini ürünü ekleyin</li>
                    <li>Retinoidlerden vazgeçmeyin</li>
                    <li>Cildiniz için beslenme rutini oluşturun</li>
                </ul>
                <p>Listeye eklenecekler...</p>
                <ol>
                    <li>Sabahları C vitamini ve güneş koruyucu ile devam edin</li>
                    <li>Akşamları ise retinol ve nemlendirici düşünebilirsiniz.</li>
                    <li>Pigmentasyonla başa çıkmak için arbutin yardımcı olabilir</li>
                </ol>  
              
                <h2>Antioksidanlar</h2>
                <p>"Yılbaşı kutlamalarından sonra hepimiz biraz soluk ve yorgun görünebiliriz. Cildin daha derin katmanlarında çalışarak kolajeni ultraviyole ışınlardan ve kirlilik gibi çevresel faktörlerin zararlarından koruyan parlak renkli meyve ve sebzeleri tüketerek antioksidan alımınızı artırın. Unutmayın, meyve ve sebzeler ne kadar koyu renkli olursa, antioksidan içerikleri o kadar yüksek olur..</p>
                <h3>Farklı yağlar</h3>
                <p>Faydalı yağ alımınıza da dikkat edin. Somon gibi yağlı balıklar omega 3 ve protein için harika bir kaynaktır, ancak vegan veya vejetaryen iseniz, kaju fıstığı, keten tohumu yağlarını tercih edebilirsiniz ve günlük olarak omega 3 ile takviyeleri deneyebilirsiniz.  Her zamanki gibi, parlak bir cilt için nemlendirme çok önemlidir.  Suyunuza salatalık, limon veya nane ekleyerek daha ilgi çekici bir tat elde edebilirsiniz.".</p>
            </article>

            <article class="Süreklilik her şeydir">

                <p>“Cildimiz sürekliliği sever. Ürünlerinizi düzenli olarak değiştirmek cazip gelebilir, ancak işe yarayan basit bir rutine alışmak altın değerindedir. Günde iki kez cildinizi temizleyin; makyaj yapıyorsanız, ilk adım olarak bir temizleyici tonik veya balm ile çift temizlik yapın. Sabahları C vitamini ve güneş koruyucu ile devam edin, akşamları ise retinol ve nemlendirici düşünebilirsiniz. Cilt tipinize özel ihtiyaçlara bağlı olarak ek ürünler de kullanılabilinir. Örneğin, kızarıklığa yatkın ciltler için azelaik asit harika bir ek olabilir ve pigmentasyonla başa çıkmak için arbutin yardımcı olabilir.".</p>
          
                <h3>Güzellik Rutini Tablosu</h3>
                <p>Güzellik için önerilen rutinler:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Gece</th>
                            <th>Gündüz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Maske</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Tonik</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>GözAltı Kremi</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>3</td>
                            <td>1</td>
                        </tr>
                    </tfoot>
                </table>

                <p>Ürünleri doğru sıralamayla uygulamadığınızda cilde nüfuz etmeleri zorlaşır, dolayısıyla içeriklerin faydalarını yeteri kadar göremezsiniz, yani ürünler etkisiz kalır. Dahası, bu durum bazı cilt problemlerine de zemin hazırlayabilir. .</p>
            </article>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Gündüz ve gece bakımlarında nasıl farklılıklar olmalıdır?</h2>
             

                <p>Gün boyunca hava kirliliği, güneş ışığı, ısı değişimleri ve ekranlardan gelen mavi ışık gibi dış etkenlere maruz kalan cilt için ideal gündüz bakımı nemlendirmeye, önlemeye ve cildi çevresel etkenlere karşı korumaya yönelik olmalıdır..</p>
                <ul>
                    <li> Cildi onarmaya ve yenilemeye odaklanılmalıdır.</li>
                    <li> Lipitlerden ve proteinlerden zengin, yağ bazlı ürünler akşam bakımında tercih edilebilir.</li>
                    <li>Kimyasal peeling veya retinol gibi cildin güneş ışınlarına karşı hassasiyetini artıran içerikleri kullanmak için de doğru zaman yine gece bakımıdır.</li>
                </ul>
            </article>

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Başa Dön</a>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">KUSURSUZ MAKYAJ</h4>
                    <p class="mb-0">Şeffaf fondötenler veya renkli nemlendiriciler tercih ederek minimalist bir yaklaşımı benimseyin ve cildinizin doğal ışıltısının parlamasına izin verin. .</p>
                </div>

                <div>
                    <h4 class="fst-italic">Bu yazılar ilginizi çekebilir</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img src="~/css/resim1.jpg" class="" width="100%" height="96"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></>
                                <div class="col-lg-8">
                                    <h6 class="mb-0">Yeni güzellik ipuçları</h6>
                                    <small class="text-body-secondary">Ocak 15, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img src="~/css/resim 2.jpg" class="" width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></>

                                <div class="col-lg-8">
                                    <h6 class="mb-0">Üstteki yazılara ulaşın.</h6>
                                    <small class="text-body-secondary">Ekim 14, 2023</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img src="~/css/resim3.jpg" class="" width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></>

                                <div class="col-lg-8">
                                    <h6 class="mb-0">Üstteki yazılara ulaşın.</h6>
                                    <small class="text-body-secondary">Aralık 13, 2023</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

             
               
            </div>
        </div>
    </div>

</main>