<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/css/cilt2 (2).jpg" alt="" width="372" height="357">
    <h6 class="display-5 text-body-emphasis">Cilt lekelerini ve izlerini silmenin tam zamanı</h6>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-10 text-center">
           
            Cilt lekelerini ve izledrini silmenin tam zamanı
            Yaz mevsiminde güneş ışınlarının daha dik açı ile daha uzun süre yeryüzüne ulaşması nedeniyle vücudumuz yoğun şekilde ultraviyole ışınlara maruz kalıyor. Bu durumda vücudumuzun korunma mekanizmaları devreye giriyor ve hücrelerimizi korumak için cildimizin renk veren hücreleri yani melanositleri uyarıyor. Bu uyarı ile cilt rengimizi oluşturan melanin sentezi artıyor. Ancak bu süreçte vücudun korunması için üretilen melaninin fazla sentezlenmesi ile çil veya gebelik maskesi gibi bir takım leke hastalıkları ortaya çıkabiliyor. Leke ve izlerden kurtulmak için lazer tedavi uygulamalarının kış mevsiminde yapılması daha uygun oluyor. Memorial Bahçelievler Hastanesi Dermatoloji Bölümü’nden Uz. Dr. Didem Kazan, leke ve izlerden kurtulmanın yollarıyla ilgili bilgi verdi.
            Yaz aylarında cildin UV ışınlarına maruziyetinin artmasıyla birlikte lekeler ortaya çıkarken, kısa süreli ve yoğun UV maruziyeti sonucunda ise cilt yanıkları gelişebilmektedir. Bu durumda uygun medikal tedavi kullanılmazsa yine ciltte leke kalabilmektedir. UV ışınları akne vulgaris yani sivilce, rosacea yani gül hastalığı ve egzama gibi bazı dermatolojik hastalıkları da tetikleyebilmektedir. Bu tablolarda doğru medikal tedavi kullanılmazsa maalesef yine cilt lekeleri görülebilmektedir.
        </p>
        <p>Derinin üst tabakasını tutan yüzeysel lekeleri olan açık tenli hastalarda soyucu özellikte krem ya da serumlar veya yüzeysel-orta etkili peelingler kullanılabilmektedir. Ancak daha koyu tenli hastalarda ise bu tahriş edici, soyucu tedaviler yerine daha çok enerji bazlı sistem tedavileri, lazer tedavileri öne çıkmaktadır. Bu amaçla en çok kullanılan lazer sistemlerinden biri Q anahtarlı NdYAG lazerlerdir. 1064 nm dalga boyunda ve nanosaniye süreli atım yapan bu lazerler derinin üst ve orta tabakasındaki melanini hedeflemekte ve çevre dokuya zarar vermeden melaninin parçalanarak uzaklaşmasını sağlamaktadır.</p>
        <p>Ters etki olarak lekelenmeye yol açma risklerinin diğer tahriş edici ve soyucu tedavilere göre düşük olması sayesinde özellikle gebelik maskesi (melasma) başta olmak üzere solar lentigo yani güneş lekesi, doğumsal kahverengi lekeler (cafe au lait) ve yaş beni (seboreik keratoz) gibi leke hastalıklarının çoğunda düşük atımlı Q anahtarlı Ndyag lazer kullanılabilmektedir.</p>
        <p>
           
            Leke tedavileri için kış ayları öneriliyor

            Kış ayları, UV maruziyetinin yaz dönemine göre azalması nedeniyle dermatoloji uzmanlarının leke tedavisini en çok önerdiği dönemdir. Derinin üst tabakasını tutan yüzeysel lekeleri olan açık tenli hastalarda soyucu özellikte krem ya da serumlar veya yüzeysel-orta etkili peelingler kullanılabilmektedir. Ancak daha koyu tenli hastalarda ise bu tahriş edici, soyucu tedaviler yerine daha çok enerji bazlı sistem tedavileri, lazer tedavileri öne çıkmaktadır. Bu amaçla en çok kullanılan lazer sistemlerinden biri Q anahtarlı NdYAG lazerlerdir. 1064 nm dalga boyunda ve nanosaniye süreli atım yapan bu lazerler derinin üst ve orta tabakasındaki melanini hedeflemekte ve çevre dokuya zarar vermeden melaninin parçalanarak uzaklaşmasını sağlamaktadır. Ters etki olarak lekelenmeye yol açma risklerinin diğer tahriş edici ve soyucu tedavilere göre düşük olması sayesinde özellikle gebelik maskesi (melasma) başta olmak üzere solar lentigo yani güneş lekesi, doğumsal kahverengi lekeler (cafe au lait) ve yaş beni (seboreik keratoz) gibi leke hastalıklarının çoğunda düşük atımlı Q anahtarlı Ndyag lazer kullanılabilmektedir. Bu lazer sistemi leke hastalıklarına ek olarak dövme ve kalıcı makyaj içerisindeki siyah pigmentin parçalanması yolu ile istenmeyen dövmelerin silinmesinde, tüylerdeki melaninin parçalanması ile istenmeyen tüylerin sarartılmasında, mantar sporlarındaki pigmentin parçalanması ile tırnak mantarı tedavisinde, yağ bezlerinde yağ salgısını azaltması sayesinde akne-sivilce tedavisinde de kullanılabilmektedir. Bazı lazer cihaz sistemlerinde Q anahtarlı NdYAG atıma ek olarak hem kısa hem de uzun dalga NdYAG atım yapabilen kombine cihaz sistemi de bulunmaktadır.  Bu sayede leke problemlerine ek olarak kılcal damar çatlamaları, ince varisler, damarsal doğum lekeleri, rosacea (gül hastalığı) gibi damar hastalıklarının tedavisinde de kullanılabilmektedir.

            NdYAG Lazer ile izler de tedavi edilebiliyor

            Geçirilen şiddetli akne sonucu gelişen akne çukurcukları yani akne izlerinde, operasyon ya da sezaryen sonucu gelişen izlerde ve çatlak (stria) tedavisinde de birçok farklı tedavi ile kombine edilmekle birlikte Q anahtarlı NdYAG lazerler de kullanılmaktadır. Ancak burada özel olarak fraksiyonel başlık dediğimiz derinin bir kısmında kontrollü hasarlandırma yaparken komşu deri alanını atlayan bu şekilde daha kolay bir iyileşme süreci oluşturan başlık kullanılmaktadır
        </p>
        <div class="d-grid  d-sm-flex justify-content-sm-center">

        </div>
    </div>
</div>
<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary rounded-pill" href="#">Başa Dön</a>
</nav>